

extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner PLACEHOLDER
    div.Message
      div.Title
        h3 PLACEHOLDER HEADING
        h1 PLACEHOLDER
      span.Details PLACEHOLDER DETAILS
    div.NavButtons
      a(href="/user")
          div.NavButton PLACEHOLDER

